<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
    <div class="main-container">
        <h1>Добро пожаловать на главную страницу проекта

<!--        <button id="theme-toggle">Сменить тему</button>-->
        <button id="themeToggle">🌙 Темная тема</button>
        </h1>

        <h2>Описание проекта</h2>

        <p>
            Этот проект представляет собой систему обмена сообщениями с возможностью регистрации и авторизации пользователей.
        </p>

        <h3>Основные возможности:</h3>
        <ul>
            <li>Регистрация и авторизация пользователей.</li>
            <li>Обмен сообщениями через WebSocket.</li>
            <li>Взаимодействие с сервером через REST API.</li>
        </ul>

        <h4>Документация и исходный код</h4>
        <p>
            Для более подробной информации вы можете ознакомиться с README файлом на GitHub:
            <a href="https://github.com/N1KTO4ME/messanger-fastapi.git">Перейти на GitHub</a>
        </p>

        <h5>Примеры использования</h5>
        <p>
            Ниже представлены примеры использования основных функций проекта:
        </p>


        <h6>Перейти в чат</h6>
        <p>
            <a href="/chat">Открыть чат</a>
        </p>
    </div>
    <script src="{{ url_for('static', path='/main_page.js') }}"></script>
</body>
</html>